In [2]:
#Lists
my_list = [1, 2, 3, 4, 5]

# or

my_list1=list((1, 2, 3, 4, 5))

In [6]:
#List examples
list_a=['apple', 'banana', 'cherry']

list_b=[1, 2, 3, 4, 5]

print(list_a)

print(list_b)

['apple', 'banana', 'cherry']
[1, 2, 3, 4, 5]

In [7]:
#nested List examples
list_a=['apple', 'banana', 'cherry']

list_b=[1, 2, 3, 4, 5]

list_c=[True, False, True]

all_list=list_a + list_b + list_c

print(all_list)

['apple', 'banana', 'cherry', 1, 2, 3, 4, 5, True, False, True]

In [10]:
# List extend method
com_list=[]
one_list=['a', 'b', 'c']
com_list.extend(one_list)
com_list

['a', 'b', 'c']

In [11]:
#A slightly easier method to add two lists
my_list=[1, 2, 3]
new_list=[4, 5, 6]
combo_list=my_list + new_list
combo_list

[1, 2, 3, 4, 5, 6]

In [12]:
#Sorting out a list
alpha_list=['d', 'a', 'c', 'b']
alpha_list.sort()
alpha_list

['a', 'b', 'c', 'd']

In [13]:
#Sorting out a list
list_num=[3 , 2 , 5 , 4 , 1 , 9 , 13 , 11]
list_num.sort()
list_num

[1, 2, 3, 4, 5, 9, 11, 13]

In [14]:
#A none list
list_num=[3 , 2 , 5 , 4 , 1 , 9 , 13 , 11]
sorted_list=list_num.sort()
sorted_list
print(sorted_list)

None

In [16]:
#Slicing a list
alpha_list=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
sliced_list=alpha_list[2:7]
sliced_list

['c', 'd', 'e', 'f', 'g']

In [17]:
#Tuple example
my_tuple=(1,2,2,3,4,5)
my_tuple[0:3]

(1, 2, 2)

In [18]:
#Empty Dictionary code examples
my_dict={}
#or
an_dict=dict()

In [20]:
#Dictionary with values
my_dict={'Name':'Andrew Tate' , 'Age':34 , 'Country':'Romania'}
my_dict

{'Name': 'Andrew Tate', 'Age': 34, 'Country': 'Romania'}

In [21]:
#Accessing a value within a dictionary

my_dict={'Name':'Andrew Tate' , 'Age':34 , 'Country':'Romania'}
my_dict['Name']

'Andrew Tate'

In [22]:
#Checking all the keys in a dictionary
my_dict={'Name':'Andrew Tate' , 'Age':34 , 'Country':'Romania'}
my_dict.keys()

dict_keys(['Name', 'Age', 'Country'])

In [23]:
#Checking all the values in a dictionary
my_dict={'Name':'Andrew Tate' , 'Age':34 , 'Country':'Romania'}
my_dict.values()

dict_values(['Andrew Tate', 34, 'Romania'])