In [9]:
# Using list and range

list(range(0,5))

[0, 1, 2, 3, 4]

In [2]:
#Parts of Functions3

def testfunc(myname):
    print("Hello %s" % myname) 
testfunc ('mary')

Hello mary

In [3]:
#Multiple ways for writing functions

def testfunc(fname, lname):
    print("Hello %s %s" % (fname, lname))
testfunc('muhammad', 'ali')

Hello muhammad ali

In [4]:
#Creating variables

firstname = 'Mohammad'
lastname = 'Omar'
testfunc(firstname, lastname)
print (firstname, lastname)

Hello Mohammad Omar
Mohammad Omar

In [5]:
# Using return
def variable_test():
    first_variable =10
    second_variable =20
    return first_variable + second_variable
variable_test()

30

In [6]:
#Variable Outside the functions
another_variable = 100
def variable_test2():
   first_variable = 10
   second_variable = 20
   return first_variable * second_variable * another_variable
print(variable_test2())

20000

In [7]:
#Modules examples
import time
print(time.asctime())

Thu Nov 27 19:57:50 2025

In [8]:
#Another module example
age=11
if age >= 10 and age <= 13:
    print ('What is 13 + 49 + 84 + 155 + 97? A headache!')
else:
    print ('Huh?')

What is 13 + 49 + 84 + 155 + 97? A headache!